@use '../function' as f;

@keyframes wmax {
  from {
	width: 0%;
  }
  to {
	width: 100%;
  }
}

.tlist {
  list-style-type: none;
  padding: 0;
  height: 100%;
  width: 30vw;
  box-sizing: border-box;
  border-right: f.brut();
  margin: 0;
  overflow: scroll;
  .item {
	border-top: f.brut();
	border-bottom: none;
	position: relative;
	height: 3em;
	cursor: pointer;
	.filler {
	  height: 100%;
	  width: 0%;
	  background-color: var(--primary);
	  transition: ease-out 0.3s;
	}
	.name {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  }
  .item:hover {
	.filler {
	  width: 100%;
	}
	.name {
	  color: white;
	}
  }
  .item:first-child {
	border-top: none;
  }
  .item:last-child {
	border-bottom: f.brut();
  }
}
