@use '../function' as f;

@keyframes rotating {
  from {
	transform: rotate(0);
  }
  to {
	transform: rotate(360deg);
  }
}

.current {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .timer {
    display: flex;
	height: 85%;
	aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
	position: relative;
	@include f.round;
	border: f.brut();
	.clock {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  pointer-events: none;
	}
	.rotating {
	  animation: rotating 60s infinite;
	}
	.btn {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 80%;
	  height: 80%;
	  overflow: clip;
	  cursor: pointer;
	  @include f.round;
	  background-color: var(--primary);
	  .pause {
		fill: white;
		display: none;
	  }
	  .title, .duration {
		color: white;
		@include f.round;
		margin: 0;
	  }
	}
	.btn:hover {
	  p {
		display: none;
	  }
	  .pause {
		display: block;
	  }
	}
  }
}
