@use "sass:math";

@mixin neumorph-primary($dist) {
  $half: math.div($dist, 2);
  $opposite: (0 - $half);
  background: var(--primary);
  box-shadow: $half $half $dist var(--primary-dark),
			  $opposite $opposite $dist var(--primary-light);
}

@function brut() {
  @return solid 0.15em var(--primary);
}

@function brut-shadow($dist) {
  @return $dist $dist 0 0 var(--primary);
}

@mixin brutalize($dist) {
  border: solid 0.2em var(--primary);
  box-shadow: $dist $dist 0 0 var(--primary);
}

@mixin round {
  border-radius: 100vw;
}
