@use './function' as f;

:root {
  --primary: #dbdbdb;
  --primary-dark: #6126ad;
  --primary-light: #fefcff;

  --secondary: #d6d6d6;
  --secondary-dark: black;
  --secondary-light: cyan;

  --ticks-color: #2a3da3;
  --tick-color: red;
}

@keyframes rotating {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}

.app {
  width: 100vw;
  height: 100vh;
}
